/* line 4, ../scss/library.scss */
.colorbox {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 5px 5px 0;
}

/* line 11, ../scss/library.scss */
.directory {
  background: #eee;
}

@media screen and (min-width: 54em) {
  /* line 14, ../scss/library.scss */
  .directory-header {
    width: 190px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* line 22, ../scss/library.scss */
.directory-title {
  padding: .5em .5em 0;
}

/* line 25, ../scss/library.scss */
.directory-contents {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 29, ../scss/library.scss */
.directory-contents a {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: .5em .75em;
}
/* line 33, ../scss/library.scss */
.directory-contents a:hover {
  background: #007cb4;
  color: white;
}

/* line 39, ../scss/library.scss */
.directory-elements {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 54em) {
  /* line 39, ../scss/library.scss */
  .directory-elements {
    margin-left: 190px;
  }
}

/* line 48, ../scss/library.scss */
.directory-element {
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
  background: white;
}
@media screen and (min-width: 54em) {
  /* line 48, ../scss/library.scss */
  .directory-element {
    padding: 0;
    overflow: hidden;
    *zoom: 1;
  }
}
/* line 57, ../scss/library.scss */
.directory-element.intro {
  padding: 1em;
}
@media screen and (min-width: 54em) {
  /* line 57, ../scss/library.scss */
  .directory-element.intro {
    padding: 2em;
    display: block;
  }
}

/* line 68, ../scss/library.scss */
.directory-code,
.directory-example {
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 54em) {
  /* line 68, ../scss/library.scss */
  .directory-code,
  .directory-example {
    width: 50%;
    float: left;
  }
}

/* line 77, ../scss/library.scss */
.directory-code {
  font-size: .75em;
  line-height: 1.5em;
}
@media screen and (min-width: 54em) {
  /* line 77, ../scss/library.scss */
  .directory-code {
    padding: 1.25em;
  }
}

/* line 84, ../scss/library.scss */
.directory-example {
  background: white;
  clear: both;
  overflow: hidden;
}
@media screen and (min-width: 54em) {
  /* line 84, ../scss/library.scss */
  .directory-example {
    overflow: visible;
    clear: none;
    padding: 1em;
  }
}

/* line 95, ../scss/library.scss */
.directory-code pre {
  margin: 0;
  padding: 1.45em;
  padding-top: 0;
}

/* line 101, ../scss/library.scss */
.directory-section-title {
  background: #333;
  padding: 1.08em;
  text-align: center;
  color: white;
  margin: 0;
}
