body {
  /*background-image:url(../img/ainsley-wagoner-party-pattern.png);*/
  background:#000;
}

header {
  font-size: 2em;
  background:url(../img/triangle-bg.png) no-repeat #663399;
  color:#663399;
}

#sign-up {
  margin: 20px auto 30px auto;
  max-width: 600px;
  padding: 30px 60px 50px;
  background: #00ff33;
}

.caps {
  text-transform:uppercase;
}

body > header > h1 {
  line-height: 1em !important;
}
body > header > h2  {
  color:#ccccff;

}
body > header > h3 {
  font-size:1em !important;
  color: #ccccff;
}

#where-when {

}
#party-people {
  color:#FCF9F9;
}

#more-info {
  padding: 80px 60px 80px 80px;
  background:url(../img/triangle-bg-inverse.png);
  color: #ccccff;
  font-size: 1.5em;
  line-height: 1.2em;
}

#more-info a,
#more-info a:link,
#more-info a:visited,
#more-info a:active {
  color: #00C4FF;
}

.lead-in {
  font-size:2em;
  line-height: 1em;
  color: #CCE8FF;
}

#sign-up > form > input {
  font-size:2em;
}
#sign-up > form > button {
  background:#663399;
}

#share-this {
  color:#663399;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 20px auto 30px auto;
  max-width:800px;
  font-size:1.5em;
}

ul li {
  list-style-type: none;
  display: inline;
}


img.star {
width:30px;
}

.pad--3 {
  padding: 3em;
}


footer {
  background: #663399;
  color:#ccccff;
  text-align:center;
}
