body {
  background:#000;
}

header {
  height: 100%;
  background: url(../img/party-people-header.png) repeat-x fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 2em;
  color:#663399;
}

#sign-up {
  margin: 20px auto 30px auto;
  max-width: 600px;
  padding: 30px 60px 50px;
  background: #00ff33;
  border: #ccccff 4px solid;
}

.caps {
  text-transform:uppercase;
}

body > header > h1 {
  line-height: 1em !important;
}
body > header > h2  {
  color:#ccccff;

}
body > header > h3 {
  font-size:1em !important;
  color: #ccccff;
}

#where-when {

}
#party-people {
  color:#FCF9F9;
}

#more-info {
  padding: 80px 60px 80px 80px;
  background:url(../img/triangle-bg-inverse.png);
  color: #ccccff;
  font-size: 1.5em;
  line-height: 1.2em;
}

#more-info a,
#more-info a:link,
#more-info a:visited,
#more-info a:active {
  color: #00C4FF;
}

.lead-in {
  font-size:2em;
  line-height: 1em;
  color: #CCE8FF;
}

#sign-up > form > input {
  font-size:2em;
}
#sign-up > form > button {
  background:#663399;
}

#share-this {
  color:#663399;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 20px auto 30px auto;
  max-width:800px;
  font-size:1.5em;
}

ul li {
  list-style-type: none;
  display: inline;
}


img.star {
width:30px;
}

.pad--3 {
  padding: 3em;
}


footer {
  background: #663399;
  color:#ccccff;
  text-align:center;
}
#video {
  color:#663399;
}

#coverage {
  padding: 80px 60px 80px 80px;
  background: #663399;
  color:#ccccff;
  text-align:center;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) and (min-width: 769px) {
  .hide-it-sm {
    display:none;
  }
  header {
    font-size: 1.75em;
  }
  #more-info {
    font-size: 1em;
    line-height: 1em;
  }
}

@media (max-width: 768px) {
  .hide-it-xs {
    display:none;
  }
  header {
    font-size: 1.45em;
    background: url(../img/party-people-header-no-ppl.png) repeat-x fixed;
    height: auto;
  }
  #more-info {
    font-size: 0.80em;
    line-height: 0.90em;
  }
  .lead-in {
    font-size: 1.5em;
  }

  .star {
   visibility: hidden;
  }
}

#logos img {
  max-width: 85px;
  padding-right: 10px;
}
.digital-heart:before {
  background: url(../img/digital-heart-black.png);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}
