---
layout: default
title: The Internet, Presidential Candidates and You
intro_text: "<p>Tens of millions of people want the next president to make protecting the Internet a top policy priority. This guide shows where each major-party candidate stands on issues related to free speech, access, choice, privacy and openness online. To learn more about Internet 2016’s policy recommendations, check out our <a href='https://internet2016.net/policyplatform/' target='_blank' >Internet Policy Platform</a>.</p> <p>It’s up to Internet voters to pressure candidates to support an open, secure and affordable Internet — and to hold candidates accountable when they trample on our rights to connect and communicate.</p>"
templateheader: subhead_image_Purple.png
outro_text: "<p>Clinton, Cruz, Kasich, Rubio, Sanders and Trump were included in this document on March 11, 2016 based on their status as the remaining candidates for the two major political parties. Positions will be updated as the candidates make new statements on these issues.</p>"
facebook_title: Where do the presidential candidates stand on important Internet issues?
facebook_description: Check out the Free Press Action Fund Internet Voter guide to find out where the candidates stand on Net Neutrality, surveillance and more.
facebook_img: voter-guide.jpg

---
 
<section id="blog-header-bar" class="lazy" data-original="{{site.baseurl}}{{site.img_dir}}{{page.templateheader}}">
</section>

<main class="vg">
  <div class="container-fluid">

    <h1 class="text-center single-page-title">{{page.title}}</h1>

      <section class="container">
        {% if page.intro_text %}
          <div class="text-center vg-intro">
            {{page.intro_text|raw}}
          </div>
        {% endif %}

        <div class="vg-share">
          <a class="social-button facebook button-submit" href="http://www.facebook.com/sharer.php?u=https://internet2016.net/voter-guide/" target="_blank" onclick="_paq.push([" setcustomvariable',="" 1,'facebook',="" 'blog',="" 'visit']);'="">
            <span class="vg-shareIcon fb-icon"></span> 
            <span class="vg-shareLabel">Share</span>
          </a>
          <a class="vg-twitter " onclick=" _paq.push([" setcustomvariable',="" 1,'twitter',="" 'blog',="" 'visit']);'="" href="https://twitter.com/intent/tweet?text=Where%20do%20the%20candidates%20stand%20on%20%23NetNeutrality%20%26%20%23surveillance%3F%20Check%20out%20%40freepressaction%20voter%20guide%20to%20find%20out.%20http%3A%2F%2Fbit.ly%2Finternet-voter-guide" target="_blank">
            <span class="vg-shareIcon twitter-icon"></span> 
            <span class="vg-shareLabel">Tweet</span>
          </a>          
        </div><!--/.vg-share-->

        <table class="table" id="voter-guide-table">
          <thead>

            <tr>
              <th>
                <div class="vg-key">
                  <div class="vg-keyLabel">Key:</div>
                  <div class="vg-keyItem"><span class="level-1"></span>Positive</div>
                  <div class="vg-keyItem"><span class="level-2"></span>Waffling</div>
                  <div class="vg-keyItem"><span class="level-3"></span>Harmful</div>
                  <div class="vg-keyItem"><span class="level-0"></span>Unknown</div>
                </div><!-- /.vg-key -->
              </th>
              {% for post in site.categories['voterguidecandidate'] %}
                {% if post.active %}
                  <th>
                    <div class="vg-candidate">
                      <div class="vg-image">
                        <img src="../../assets/img/voterguide_{{ post.short2 }}.jpg" alt='{{ post.title }}'/>
                      </div>
                      <span class="vg-name">{{ post.title|raw }}</span>
                    </div><!-- /.vg-candidate -->
                  </th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for post in site.categories['voterguideissue'] %}
              <tr>
                <td>
                  <div class="vg-issue">
                    <div class="vg-issueIcon">
                      <img src="../../assets/img/icons/policy-platform-icon-{{ post.icon }}.png" alt='{{ post.title }}'/>
                    </div>
                    <span class="vg-issueLabel">{{ post.label }}</span>
                    <span class="vg-issueName">{{ post.title }}</span>
                  </div><!-- /.vg-issue -->
                </td>
                {% for item in site.categories['voterguidecandidate'] %}
                  {% if item.active %}
                    {% for thing in post.candidates %}
                      {% if thing.candidate == item.short %}
                        <td class="level-{{ thing.level }}">
                          <div class="vg-position">{{ thing.position|raw }}</div>
                          {% if thing.lightbox %}
                            <button type="button" class="vg-positionLink" data-toggle="modal" data-target="#myModal-{{ forloop.index }}">learn more</button>
                          {% endif %}
                        </td>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% for post in site.categories['voterguideissue'] %}
          {% for item in site.categories['voterguidecandidate'] %}
            {% if item.active %}
              {% for thing in post.candidates %}
                {% if thing.candidate == item.short %}
                  {% if thing.lightbox %}
                    <div class="modal fade" id="myModal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{ forloop.index }}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel-{{ forloop.index }}">{{ item.title }}: {{ post.title }}</h4>
                          </div>
                          <div class="modal-body">
                            {{ thing.lightbox }}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% if page.outro_text %}
          <div class="text-center vg-outro">
            {{page.outro_text|raw}}
          </div>
        {% endif %}

        <div class="vg-share vg-shareBottom">
          <div class="vg-shareTitle">Share this Internet Voter Guide:</div>
          <a class="social-button facebook button-submit" href="http://www.facebook.com/sharer.php?u=https://internet2016.net/voter-guide/" target="_blank" onclick="_paq.push([" setcustomvariable',="" 1,'facebook',="" 'blog',="" 'visit']);'="">
            <span class="vg-shareIcon fb-icon"></span> 
            <span class="vg-shareLabel">Share</span>
          </a>
          <a class="vg-twitter " onclick=" _paq.push([" setcustomvariable',="" 1,'twitter',="" 'blog',="" 'visit']);'="" href="https://twitter.com/intent/tweet?text=Where%20do%20the%20candidate%20stand%20on%20%23NetNeutrality%20%26%20%23surveillance%3F%20Check%20out%20%40freepressaction%20voter%20guide%20to%20find%20out.%20http%3A%2F%2Fbit.ly%2Finternet-voter-guide" target="_blank">
            <span class="vg-shareIcon twitter-icon"></span> 
            <span class="vg-shareLabel">Tweet</span>
          </a>
        </div><!--/.vg-share-->

    </section>
  </div>
</main>
