body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}
a, a:link, a:visited {
  /*color: #cc99cc;*/
  color: #663399;
  text-decoration: none;
}
a:hover {
  /*color:#cc99cc;*/
  color: #663399;
  text-decoration: underline;
}

/* responsive images by default */
img {
  max-width: 100%;
  height: auto;
}

hr {
 border-top: 1px solid #663399;
}

nav a, nav a:link, nav a:visited {
  color:#FFFF00;
}
footer a, footer a:link, footer a:visited {
  color: #e5cce5;
}

#form-more-info {
  display: none;
}

.navbar-i16 {
  background-color:#663399;
  border-color:#663399;
  color:#fff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px
}
.navbar{
  margin:0px;
  border-radius: 0px;
}
.navbar-brand {
  font-size: 28px;
}

#title-bar {
  color:#FFFF00;
  background: url('../img/grey.gif') no-repeat #383838 center; /* this is a placeholder because we load the real background img inline with lazy load js */
  background-size: cover;
}

#title-bar h1 {
  text-transform: uppercase;
}

#call-to-action {
  background-color: #663399;
  color: #fff;
}

#featured {
  background-color: #FFFF00;
  color: #000;
  padding: 30px 0;
}

#blog-post-single {
  padding: 0;
}

#call-to-action, #spread-the-word {
  padding: 0 20px;
}

@media (min-width:767px){
  #call-to-action, #featured, #spread-the-word, #blog-post-single {
    padding:4em;
  }
}

footer {
  padding: 2%;
  background-color: #663399;
  color: #fff;
}

footer ul {
  list-style-type: none;
}

.input-lg {
  border-radius: 0px;
}
#call-to-action input[type=text] {
  color:#000;
  width:100%;
}

#call-to-action button {
  border-radius: 0px;
  width: 100%;
  text-transform: uppercase;
  padding: 20px;
  background-color: #FFFF00;
  border-color: #FFFF00;
  color: #663399;
}

#call-to-action button:hover {
  background-color: #EBEB00;
}

#featured a.btn {
  border-radius: 0px;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
  background-color: #FFFF00;
  border-color: #000;
  color:#000;
}

#featured a:hover.btn {
  background-color: #FFFFB1;
}

@media (max-width:767px){
  #title-bar h1 {
    font-size: 4em;
  }
  #featured a {
    font-size: .8em;
  }
  #call-to-action button {
    font-size: 1em;
  }

}

@media (min-width:768px) {
  #title-bar h1 {
    font-size: 6em;
  }
  #featured a {
    font-size: 0.80em;
  }
  #call-to-action button {
    font-size: 2em;
  }

}
@media (min-width:992px){
  #title-bar h1 {
    font-size: 8em;
  }

  #featured a {
    font-size: 1.6em;
  }
  #call-to-action button {
    font-size: 2.5em;
  }

}
@media (min-width:1200px) {
  #title-bar h1 {
    font-size: 9em;
  }
  #featured a {
    font-size: 1.8em;
  }
  #call-to-action button {
    font-size: 3em;
  }
}
#spread-the-word > h1 {
  text-transform: uppercase;
  font-size: 4em;
}


#blog-header-bar, #toolkit-header-bar {
background: url('../img/grey.gif') no-repeat #383838 center;
color:#FFFF00;
background-size: cover;
min-height: 350px;
}


.digital-heart:before {
  background: url(../img/digital-heart-black.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}
.digital-heart-yellow:before {
  background: url(../img/digital-heart-yellow.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}
.digital-heart-white:before {
  background: url(../img/digital-heart-white.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}


.fb-icon:before {
  background: url(../img/icons/facebook.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}

.twitter-icon:before {
  background: url(../img/icons/twitter.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}
.instagram-icon:before {
  background: url(../img/icons/instagram.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}


.fb-icon-white:before {
  background: url(../img/icons/facebook-white.svg);
  width: 1em;
  display: inline-block;
  background-size: 100% 100%;
  height: 1em;
  content: " ";

}

.twitter-icon-white:before {
  background: url(../img/icons/twitter-white.svg);
  width: 1em;
  display: inline-block;
  background-size: 100% 100%;
  height: 1em;
  content: " ";

}
.instagram-icon-white:before {
  background: url(../img/icons/instagram-white.svg);
  width: 1em;
  display: inline-block;
  background-size: 100% 100%;
  height: 1em;
  content: " ";
}



.creativecommons-icon:before {
  background: url(../img/icons/cc.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}

.spread-the-word-icons {
  font-size: 6em;
}


.toolkit-single-main-icon {
  padding: 3% 0;
  margin: 0 auto;
  width: 25%;
}

.bloglist-single-main-icon {
  padding: 3% 0;
  margin: 0 auto;
}


.single-page-title {
  text-transform: uppercase;
}


#toolkits-list-main {
  background-color:#FFFF00;
}

footer h1 {
  font-size: 2em;
}

#toolkit-list-intro-text {
   padding-bottom: 5%;
}

.toolkit-list-icons {
  padding-top:2%
}

.bloglist-image-preview, .toolkits-image-preview {
  width: 150px;
  padding-top: 10px;
  margin: 0 auto;
}

.bloglist-posts {
  padding-bottom: 4%;
}

.blog-post-single-body {
  /*text-align: justify;*/
}

.list-of-tags {
  padding-top: 2em;
  color: #828282;
}

.featured-teaser {
  /*text-align: justify;*/
  min-height: 4em;
}

#featured h2 {
  min-height: 2.3em;
}
#featured a.btn {
  margin-bottom: 2em;
}

#policy-free-speech  {
  padding: 0px;
  margin: 0px;
}

.policy-big-img-heading {
  height: 700px;
  color:#FFF;
}

.policy-wrapper {
  padding-top: 4%;
  padding-bottom: 6%;
  padding-left: 5%;
  padding-right: 5%;
}

.policy-body {
  /*text-align: justify;*/
}


#policy-big-img-heading > h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 5em;
}

#policy-big-img-heading > div.glyphicon {
  font-size: 4em;
  padding-top: 1em;
}


.yellow-bg {
  background: #FFFF00;
}

.yellow-font {
  color: #FFFF00;
}


main {
  padding-bottom: 10%;
}

#privacy-policy-text {
  font-size: .75em;
  text-align: center;
  padding-top: 2%;
}

.policy-heading-icon {
  width:200px;
}

.policy-big-img-heading > h1 {
  font-weight: 100;
  font-size: 4em;
  text-transform: uppercase;
}

.policy-wrapper h2 {
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
}

.policy-wrapper h3 {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 0.5em;
}

.policy-wrapper h4 {
  text-transform: uppercase;
}

.policy-nav-icon:hover {
  background:#8c53c6;
}

.policy-nav-icon a, .policy-nav-icon a:visited, .policy-nav-icon a:link {
  text-decoration: none;
  color: #000;
}

.policy-intro-nav {
  padding:2%;
}

.chevron-down:before {
  background: url(../img/icons/chevron-down.png);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}

.roboto-bold {
  font-weight: 600;
}
.roboto-light {
  font-weight: 100;
}

#policy-parallax-nav {
  position: fixed;
  right:0px;
  top:71px;
  text-align: right;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: .75em;
}


#policy-parallax-nav ul {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5%;
}
#policy-parallax-nav li {
  padding-right: 20px;
}
#policy-parallax-nav a, #policy-parallax-nav a:link, #policy-parallax-nav a:visited {
  color: #000;
  font-weight: 100;
  text-decoration: none;
}

#policy-parallax-nav a:hover {
  color: #000;
  text-decoration: underline;
  background: none;
}
#policy-parallax-nav li.active > a {
  font-weight: 400;
}
#policy-parallax-nav li.active {
  border-right: solid 2px #663399;
}

#policy-parallax-nav .nav>li>a  {
  padding:0px;
}

#featured h2 {
  text-align: center;
}
#press-coverage-list {
  padding-top: 3%;
}
#press-coverage-list li {
  padding-bottom: 2%;
}

#privacy-policy-text a, #privacy-policy-text a:link, #privacy-policy-text a:visited {
  color:#FFFF00;
}

#footer-donate-link a, #footer-donate-link a:link, #footer-donate-link a:visited {
    color:#FFFF00;
    text-decoration: none;
}
#footer-donate-link a:hover {
    text-decoration: underline;
}

#featured img {
  margin: 0 auto;
}

.social-sharing, .social-sharing:visited, .social-sharing:link {
    background-color: #2AABD0;
    display: inline-block;
    color: #D2EBF7;
    margin: 1%;
    text-transform: uppercase;
}
.social-sharing:hover {
    color: #fff;
    background-color: #00C6FF;
}

/* utility classes */
.u-mw700 {
  max-width: 700px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.u-borderRight {
  display: inline-block;
  padding: 10px 20px 10px 0;
  border-right: 1px solid #FFFF00;
  margin-right: 10px;
  position: relative;
  margin-top: -10px;
}



/* classes for the voter guide page - /voterguide */


.vg-share {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 3px;
}

.vg-shareBottom {
  text-align: center;
  margin-top: 40px;
}

.vg-shareTitle {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 3px;
}

.vg-share a {
  background: #663399;
  color: #fff;
  padding: 8px 13px 3px 10px;
  display: inline-block;
  margin-left: 8px;
}

.vg-share a:hover {
  background: #663399;
  color: #fff;
  text-decoration: none;
}

.vg-share .vg-facebook:hover {
  background: #3b5998;
}

.vg-share .vg-twitter:hover {
  background: #55acee;
}

.vg-share .fb-icon:before {
  background-image: url('../img/icons/facebook-white.svg');
}

.vg-share .twitter-icon:before {
  background-image: url('../img/icons/twitter-white.svg');
}

.vg-shareIcon:before {
  font-size: 30px;
}

.vg-shareLabel {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: 2px;
  margin-left: 2px;
}

.vg-shareLabel,
.vg-shareIcon {
  display: inline-block;
  vertical-align: top;
}
.vg .table {
  table-layout: fixed;
}

.vg .table tr {
  border: none;
  padding: 0;
}

.vg .table th,
.vg .table td {
  padding: 2px;
  border: 3px solid #fff;
  position: relative;
}

.vg .table th {
  position: relative;
  padding: 0;
}

.vg .table td {
  font-size: 14px;
}

.vg .table th:first-child {
  width: 120px;
  background: #fff;
}

.vg .table td:first-child {
  color: #000;
  text-align: center;
  vertical-align: middle;
}

.vg .table td:first-child,
.vg .table th:first-child {
  border-bottom-color: #ddd;
  
}

.vg .table th .vg-image {
  position: relative;
  z-index: 0;
  background: #ddd;
  padding: 20px;
}

.vg .table th .vg-image img {
  display: block;
}
.vg .table th .vg-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  background: #663399;
  background: linear-gradient(rgba(102, 51, 153, 0),rgba(102, 51, 153, 1));
  display: none;
}

.vg .table td,
.vg .table th .vg-name {
  padding: 20px;
}

.vg .table th .vg-name{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #444;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
    font-size: 20px;
    line-height: 1.2em;
}

.vg .single-page-title {
  margin-top: 60px;
  margin-bottom: 20px;
}

.vg-intro {
  max-width: 860px;
  margin: 0 auto 30px;
}

.vg-issueName {
  font-weight: 600;
  line-height: 18px;
  font-size: 15px;
  display: block;
}

.vg-issueLabel {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  margin-bottom: 10px;
  display: block;
}

.vg-issueIcon {
  max-width: 70px;
  margin: 0 auto 0;

  img {
    display: block;
  }
}

.table>tbody>tr>td.level-0 {
  text-align: center;
}

.level-0 { 
  background: #eee;
  color: #bbb;
}

.level-1 { 
  background: #a8e7ff;
}

.level-2 { 
  background: #e0c2ff; 
  //color: #fff;
}

.level-3 { 
  background: #ffbaa8;
  //color: #fff;
}

.level-1 .vg-position:before, .level-2 .vg-position:before, .level-3 .vg-position:before, .level-0 .vg-position:before {
  content: '';
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  opacity: .65;
  margin: 0 auto 10px;
}

.level-0 .vg-position:before {
  background-image: url('../img/emoji-question.svg');
  opacity: .25;
}

.level-1 .vg-position:before {
  background-image: url('../img/emoji-happy.svg');
}

.level-2 .vg-position:before {
  background-image: url('../img/emoji-neutral.svg');
}

.level-3 .vg-position:before {
  background-image: url('../img/emoji-sad.svg');
}

.vg-key {
  padding: 0 10px 10px 0;
}

.vg-keyLabel {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.vg-keyItem {
  font-size: 12px;
  margin-bottom: 5px;
}

.vg-keyItem span {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  border: 2px solid black;
  position: relative;
  top: -5px;
}

.vg .modal-title br {
  display: none;
}

.vg-positionLink {
  border: 2px solid black;
  padding: 5px 10px;
  text-transform: uppercase;
  background: transparent;
  font-weight: 600;
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
}

.vg-position a {
  text-decoration: underline;
}

.vg-positionLink:hover {
  background: black;
  color: white;
}


.vg-image,
.vg-key {
  transition: height .5s ease;
  overflow: hidden;
  height: 250px;
  position: relative;
  top: 0;
  left: 0;
}

.vg-key {
  transition: height .5s ease, opacity .5s ease;
}

.vg-image img {
  transition: opacity .5s ease;
  max-height: 180px;
  margin: 0 auto;
}

.js-smallTableHeader .vg-key,
.js-smallTableHeader .vg-image {
  height: 48px;
}

.js-smallTableHeader .vg-image img,
.js-smallTableHeader .vg-key {
  opacity: 0;
}

.vg-outro {
  max-width: 900px;
  margin: 30px auto 0;
  font-style: italic;
  font-size: 14px;
  line-height: 18px; 
}
 
@media (max-width: 1200px ) {

  .vg-name {
    font-size: 15px;
    line-height: 17px;
    display: block;
  }

  .vg .table th .vg-name {
    font-size: 18px;
  }
}

/* for smaller laptops */
@media (max-width: 992px ) {
  .vg .container {
    width: 100%;
  }

  .vg .table th .vg-name {
    font-size: 16px;
  }
}

/* for mobile */

@media (max-width: 800px ) {

  .vg .container {
    padding-right: 0;
    padding-left: 0;
  }

  .vg-keyLabel {
    margin-bottom: 0;
  }

  .vg-keyItem { 
    display: inline-block;
    margin-right: 10px;
  }

  .vg-issue {
    text-align: center;
    background: #ddd;
    padding: 16px;
    margin-top: 20px;
  }

  .vg-issueLabel {
    display: inline-block;
  }

  .vg .table th:first-child {
    width: auto;
    padding: 0;
  }

  .vg .table td:first-child {
    border: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
  }

  .vg .table td {
    vertical-align: middle;
  }

  .vg-name br {
    display: none;
  }

  .vg-name {
    font-weight: 600;
  }

  .vg .table {
    table-layout: default;
  }

  .vg-image {
    max-width: 200px;
    margin: 0 auto 10px;
  }

  .vg-image img {
    max-width: 100%;
  }

  .vg-image,
  .vg-key {
    height: auto;
  }

  .vg-shareTitle {
    display: block;
  }

  .vg .table td,
  .vg .table th .vg-name {
    padding: 12px;
  }
}


/* modal overrides */
.modal-backdrop {
  background: rgb(102, 51, 153);
}

.modal-content {
  border-radius: 0;
}