.navbar-i16 {
  background-color:#663399;
  border-color:#663399;
  color:#fff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px
}
.navbar{
  margin:0px;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 28px;
}

#title-bar {
  height:826px;
  background: url('../img/placeholder-dude.jpg') no-repeat;
  color:#FFFF00;
}

#title-bar h1 {
  font-size: 200px;
}

#call-to-action {
  background-color: #663399;
  color: #fff;
}

#featured {
  background-color: #FFFF00;
  color: #000;
}

section {
  padding:20px;
}

footer {
  padding: 40px;
  background-color: #663399;
  color: #fff;
}

footer ul {
    list-style-type: none;
}
