body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
a, a:link, a:visited {
  color: #cc99cc;
}
a:hover {
  color:#cc99cc;
}
#form-more-info {
  display: none;
}

.navbar-i16 {
  background-color:#663399;
  border-color:#663399;
  color:#fff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px
}
.navbar{
  margin:0px;
  border-radius: 0px;
}
.navbar-brand {
  font-size: 28px;
}

#title-bar {
  background: url('../img/front_page_header_image_bw.png') no-repeat #383838;
  background-size: cover;
  color:#FFFF00;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}

#title-bar h1 {
  text-transform: uppercase;
}

#call-to-action {
  background-color: #663399;
  color: #fff;
}

#featured {
  background-color: #FFFF00;
  color: #000;
}

#call-to-action, #featured, #spread-the-word, #blog-post-single {
  padding:4em;
}

footer {
  padding: 40px;
  background-color: #663399;
  color: #fff;
}

footer ul {
    list-style-type: none;
}

.input-lg {
  border-radius: 0px;
}
#call-to-action input[type=text] {
  color:#000;
  width:100%;
}

#call-to-action button {
  border-radius: 0px;
  width: 100%;
  text-transform: uppercase;
  padding: 20px;
  background-color: #663399;
  border-color: #fff;
}

#call-to-action button:hover {
  background-color: #8c53c6;
}

#featured a.btn {
  border-radius: 0px;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
  background-color: #FFFF00;
  border-color: #000;
  color:#000;
}

#featured a:hover.btn {
  background-color: #FFFFB1;
}

@media(max-width:767px){
  #title-bar h1 {
    font-size: 5em;
  }
  #featured button {
    font-size: 1.2em;
  }
  #call-to-action button {
    font-size: 1.6em;
  }

}
@media(min-width:768px){
  #title-bar h1 {
    font-size: 6em;
  }
  #featured button {
    font-size: 1.2em;
  }
  #call-to-action button {
    font-size: 2em;
  }

}
@media(min-width:992px){
  #title-bar h1 {
    font-size: 8em;
  }

  #featured button {
    font-size: 1.6em;
  }
  #call-to-action button {
    font-size: 2.5em;
  }

}
@media(min-width:1200px){
  #title-bar h1 {
    font-size: 10em;
  }
  #featured button {
    font-size: 2em;
  }
  #call-to-action button {
    font-size: 3em;
  }
}

#spread-the-word > h1 {
  text-transform: uppercase;
  font-size: 4em;
}


#blog-header-bar {
  background: url('../img/subhead_image_Yellow.png') no-repeat #FFFF00;
  color:#663399;
  background-repeat:no-repeat;
  background-size: cover;
  min-height: 350px;
  background-position:center;
}

#toolkit-header-bar {
background: url('../img/subhead_image_Purple.png') no-repeat #383838;
color:#FFFF00;
background-repeat:no-repeat;
background-size: cover;
min-height: 350px;
background-position:center;
}


.digital-heart:before {
  background: url(../img/digital-heart-black.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}
.digital-heart-yellow:before {
  background: url(../img/digital-heart-yellow.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}
.digital-heart-white:before {
  background: url(../img/digital-heart-white.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}


.fb-icon:before {
  background: url(../img/icons/facebook.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}

.twitter-icon:before {
  background: url(../img/icons/twitter.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}
.instagram-icon:before {
  background: url(../img/icons/instagram.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}


.fb-icon-white:before {
  background: url(../img/icons/facebook-white.svg);
  width: 1em;
  display: inline-block;
  background-size: 100% 100%;
  height: 1em;
  content: " ";

}

.twitter-icon-white:before {
  background: url(../img/icons/twitter-white.svg);
  width: 1em;
  display: inline-block;
  background-size: 100% 100%;
  height: 1em;
  content: " ";

}
.instagram-icon-white:before {
  background: url(../img/icons/instagram-white.svg);
  width: 1em;
  display: inline-block;
  background-size: 100% 100%;
  height: 1em;
  content: " ";
}



.creativecommons-icon:before {
  background: url(../img/icons/cc.svg);
  width: .75em;
  display: inline-block;
  background-size: 100% 100%;
  height: .75em;
  content: " ";
}

.spread-the-word-icons {
  font-size: 6em;
}


.toolkit-single-main-icon {
  padding: 20px;
  margin: 0 auto;
}

.single-page-title {
  text-transform: uppercase;
}


#toolkits-list-main {
  background-color:#FFFF00;
}

footer h1 {
  font-size: 3em;
}

#toolkit-list-intro-text {
   padding-bottom: 5%;
}

.toolkit-list-icons {
  padding-top:2%
}

.bloglist-image-preview {
  min-height: 200px;
  padding-top: 10px;
}

.bloglist-posts {
  padding-bottom: 4%;
}

.blog-post-single-body {
  text-align: justify;
}

.list-of-tags {
  padding-top: 2em;
  color: #828282;
}

.featured-teaser {
  text-align: justify;
  min-height: 4em;
}

#featured h2 {
  min-height: 2.3em;
}
#featured a.btn {
  margin-bottom: 2em;
}

#policy-free-speech  {
  padding: 0px;
  margin: 0px;
}

.policy-big-img-heading {
  height: 700px;
  color:#FFF;
}

.policy-wrapper {
  padding-top: 4%;
  padding-bottom: 6%;
}

.policy-body {
  text-align: justify;
}


#policy-big-img-heading > h1 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 5em;
}

#policy-big-img-heading > div.glyphicon {
  font-size: 4em;
  padding-top: 1em;
}


.yellow-bg {
  background: #FFFF00;
}

main {
  padding-bottom: 10%;
}

#privacy-policy-text {
  font-size: .75em;
  text-align: center;
}

.policy-heading-icon {
  width:200px;
}

.policy-big-img-heading > h1 {
  font-weight: 100;
  font-size: 4em;
}

.policy-wrapper h2 {
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
}

.policy-wrapper h3 {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 1em;
}
