---
layout: default
title: Toolkits
icon: toolkit-icon.png
intro_text: "The 2016 election will determine whether the Internet’s benefits reach everyone — or whether a few giant corporations lock the network down for their own benefit. By working together we can ensure that anyone who gets into office advances policies that promote free speech, access, privacy, choice and openness.
Here are some ideas to get you started."
---
<section id="toolkit-header-bar">
</section>

<main id="toolkits-list-main" class="main-section-single">
<div class="container">

<img class="toolkit-single-main-icon img-responsive" src="{{site.baseurl}}{{site.img_dir}}icons/{{page.icon}}" alt="" />

<h1 class="text-center single-page-title">{{page.title}}</h1>

  <section class="container">
    <p class="text-center" id="toolkit-list-intro-text">
      {{page.intro_text}}
    </p>
    <div class="row">
      {% for post in site.categories['toolkits'] limit: 2 offset: 0 %}
      <div class="col-sm-2 col-sm-offset-1 toolkit-list-icons">
	<img src="{{site.baseurl}}{{site.img_dir}}icons/{{post.icon}}" class="pull-left img-responsive hidden-xs" />
      </div>
      <div class="col-sm-3">
	<h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
        <p>
          {{ post.teaser }}
        </p>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      {% for post in site.categories['toolkits'] limit: 2 offset: 2 %}
      <div class="col-sm-2 col-sm-offset-1 toolkit-list-icons">
	<img src="{{site.baseurl}}{{site.img_dir}}icons/{{post.icon}}" class="pull-left img-responsive hidden-xs" />
      </div>
      <div class="col-sm-3">
	<h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
        <p>
          {{ post.teaser }}
        </p>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      {% for post in site.categories['toolkits'] limit: 2 offset: 4 %}
      <div class="col-sm-2 col-sm-offset-1 toolkit-list-icons">
	<img src="{{site.baseurl}}{{site.img_dir}}icons/{{post.icon}}" class="pull-left img-responsive hidden-xs" />
      </div>
      <div class="col-sm-3">
	<h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
        <p>
          {{ post.teaser }}
        </p>
      </div>
      {% endfor %}
    </div>


  </section>
</div>
</main>
