---
layout: default
---
<main>

  <section id="toolkit-header-bar">
  </section>

  <section id="blog-post-single">

    <div class="container">

      <img class="toolkit-single-main-icon img-responsive" src="{{site.baseurl}}{{site.img_dir}}{{page.headerimg}}" />

      <section>
        <h1>{{page.title}}</h1>
        <p>
          by: {{page.author}}
          <br>
        </p>
        <p>
          {{page.publish_date}}
        </p>
      </section>

      <section class="blog-post-single-body">
        {{content}}
      </section>

      <section class="list-of-tags">
        {% for tag in page.tags %}
          {{tag}}
        {% endfor %}
      </section>

    </div>
  </section>

</main>
