<html>
  <head>
      <meta property="og:locale" content="en_US" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ site.title }}: {{site.tagline}}" />
      <meta property="og:description" content="{{site.fbsharetext}}" />
      <meta property="og:url" content="{{site.fullurl}}" />
      <meta property="og:site_name" content="{{site.title}}" />
      <meta property="og:image" content="{{site.fbshareimg}}" />

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ site.title }}: {{site.tagline}}</title>
      <meta name="description" content="{{ site.title }}: {{site.tagline}}">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald:400,700,300' rel='stylesheet' type='text/css'> -->
      <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,300,400italic,900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.css_dir}}bootstrap.min.css">
      <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.css_dir}}internet2016.css">
      <script src="{{site.url}}{{site.baseurl}}{{site.js_dir}}modernizr-2.6.2.min.js"></script>
      <script src="{{site.url}}{{site.js_dir}}jquery.min.js"></script>
      <script src="{{site.url}}{{site.js_dir}}bootstrap.min.js"></script>
      <script src="{{site.url}}{{site.baseurl}}{{site.js_dir}}misc-internet2016.js"></script>

  </head>

  <body>
  <header>
    <nav class="navbar navbar-i16">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand"><a href="{{site.baseurl}}">{{site.title}}</a></span>
            </div>
        </nav>
  </header>


  {{content}}

  <footer>
    <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h1><span class="digital-heart-white"></span> Internet 2016</h1>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><a href="{{site.baseurl}}/blog">Blog</a></li>
          <li><a href="{{site.baseurl}}/press">Press coverage</a></li>
          <li><a href="{{site.baseurl}}/toolkits">Toolkits</a></li>
          <li><a href="https://act.freepress.net/donate/single/?source=internet_2016">Donate</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
	<img src="{{site.baseurl}}{{site.img_dir}}fp-logo_actionfund_white.png" alt="" />
        <!-- <ul>
          <li>Privacy Policy</li>
          <li>Contact us</li>
        </ul> -->
      </div>

    </div>
    <br>
    <br>
    <p>
      2015 Free Press Action Fund // <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><span class="creativecommons-icon"></span> CC BY-NC-SA 4.0</a><br>
      Internet 2016 is not a political party and does not support or oppose candidates running for office. We do, however, throw parties.
      <span class="pull-right">
        <a href="https://facebook.com/{{site.socialmedia.fb}}"><span class="fb-icon-white"></span></a>
        <a href="https://twitter.com/{{site.socialmedia.twitter}}"><span class="twitter-icon-white"></span></a>
      </span>



    </p>
    </div>
  </footer>

  </body>
</html>
