<!DOCTYPE html>
<html>
  <head>
      <meta property="og:locale" content="en_US" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ site.title }}: {{site.tagline}}" />
      <meta property="og:description" content="{{site.fbsharetext}}" />
      <meta property="og:url" content="{{site.fullurl}}" />
      <meta property="og:site_name" content="{{site.title}}" />
      <meta property="og:image" content="{{site.fbshareimg}}" />

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ site.title }}: {{site.tagline}}</title>
      <meta name="description" content="{{ site.title }}: {{site.tagline}}">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,300,400italic,900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.css_dir}}bootstrap.min.css">
      <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.css_dir}}internet2016.css">
  </head>

  <body data-spy="scroll">
  <header>
    <nav class="navbar navbar-i16">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand"><a href="{{site.baseurl}}">{{site.title}}</a></span>
            </div>
            <div class="navbar-brand pull-right hidden-xs"><a href="https://act.freepress.net/donate/internet2016/" target="_blank">Donate</a></div>
        </nav>
  </header>


  {{content}}

  <footer>
    <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h1><a href="http://internet2016.net/"><span class="digital-heart-white"></span> Internet 2016</a></h1>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><a href="{{site.baseurl}}/blog">Blog</a></li>
          <li><a href="{{site.baseurl}}/press">Press coverage</a></li>
          <li><a href="{{site.baseurl}}/toolkits">Toolkits</a></li>
          <li id="footer-donate-link"><a href="https://act.freepress.net/donate/internet2016/" target="_blank">Donate</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
	<img src="{{site.baseurl}}{{site.img_dir}}fp-logo_actionfund_white.png" class="img-responsive" />
        <!-- <ul>
          <li>Privacy Policy</li>
          <li>Contact us</li>
        </ul> -->
      </div>

    </div>
    <br>
    <br>
    <p>
      2015 Free Press Action Fund // <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><span class="creativecommons-icon"></span> CC BY-NC-SA 4.0</a><br>
      Internet 2016 is a project of the Free Press Action Fund and does not support or oppose candidates running for office.
      <span class="pull-right">
        <a href="https://facebook.com/{{site.socialmedia.fb}}" target="_blank"><span class="fb-icon-white"></span></a>
        <a href="https://twitter.com/{{site.socialmedia.twitter}}" target="_blank"><span class="twitter-icon-white"></span></a>
      </span>
    </p>
    </div>
  </footer>
  <script src="{{site.url}}{{site.baseurl}}{{site.js_dir}}modernizr-2.6.2.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}{{site.js_dir}}jquery.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}{{site.js_dir}}actionkit.js"></script>
  <script src="{{site.url}}{{site.baseurl}}{{site.js_dir}}bootstrap.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}{{site.js_dir}}misc-internet2016.js"></script>

  <!-- trigger action kit form -->
  <!-- <script type="text/javascript">
  actionkit.forms.contextRoot = 'http://act.freepress.net/act/';
  actionkit.forms.initPage(); actionkit.forms.initForm('act')
  </script> -->

      <!-- Piwik -->
      <script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.internet2016.net"]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
	  var u="//analytics.freepress.net/";
	  _paq.push(['setTrackerUrl', u+'piwik.php']);
	  _paq.push(['setSiteId', 7]);
	  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
      </script>
      <noscript><p><img src="//analytics.freepress.net/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
      <!-- End Piwik Code -->

  </body>
</html>
